In [2]:

# We will first load the data into the Bronze layer 
import pandas as pd

# Load the name.basics file
file_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\name.basics.tsv'  
name_basics_df = pd.read_csv(file_path, sep='\t') 

# Display the first few rows of the dataframe
print(name_basics_df.head())

      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                    primaryProfession                           knownForTitles
0        actor,miscellaneous,producer  tt0072308,tt0050419,tt0053137,tt0027125
1  actress,soundtrack,archive_footage  tt0037382,tt0075213,tt0117057,tt0038355
2   actress,music_department,producer  tt0057345,tt0049189,tt0056404,tt0054452
3       actor,writer,music_department  tt0072562,tt0077975,tt0080455,tt0078723
4               writer,director,actor  tt0050986,tt0083922,tt0050976,tt0069467

In [4]:
#As in the kaggle website is said that A ‘\N’ is used to denote that a particular field is missing or null for that title/name:
import pandas as pd

# Load the name.basics file
file_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\name.basics.tsv'
name_basics_df = pd.read_csv(file_path, sep='\t', na_values='\\N', encoding='utf-8')

# Count the null values in the DataFrame
null_counts = name_basics_df.isnull().sum()

# Display the null counts for each column
print(null_counts)

nconst                      0
primaryName                58
birthYear            13233613
deathYear            13626356
primaryProfession     2683536
knownForTitles        1558132
dtype: int64

SILVER LAYER TRANSFORMATIONS

In [5]:
#Lets handle the null values in the primaryName column, we will drop them as thay are quite afew.
import pandas as pd

# Load the name.basics file
file_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\name.basics.tsv'
name_basics_df = pd.read_csv(file_path, sep='\t', na_values='\\N', encoding='utf-8')

# Drop rows where primaryName is null
name_basics_cleaned_df = name_basics_df.dropna(subset=['primaryName'])

# Display the number of rows after dropping nulls
print(f'Number of rows after dropping nulls: {name_basics_cleaned_df.shape[0]}')

# Save the cleaned DataFrame to the Silver layer
cleaned_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_cleaned.tsv'
name_basics_cleaned_df.to_csv(cleaned_file_path, sep='\t', index=False)

print(f'Cleaned data saved to: {cleaned_file_path}')

Number of rows after dropping nulls: 13861238
Cleaned data saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_cleaned.tsv

In [6]:
import pandas as pd

# Load the cleaned name.basics file
cleaned_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_cleaned.tsv'
name_basics_cleaned_df = pd.read_csv(cleaned_file_path, sep='\t', encoding='utf-8')

# Check for null values in the cleaned DataFrame
null_counts_after_cleaning = name_basics_cleaned_df.isnull().sum()

# Display the null counts for each column
print('Null counts after cleaning:')
print(null_counts_after_cleaning)

Null counts after cleaning:
nconst                      0
primaryName                 0
birthYear            13233555
deathYear            13626298
primaryProfession     2683485
knownForTitles        1558080
dtype: int64

In [1]:
#Check for the type of the columns and turn birth and death year to an integer

import pandas as pd

# Load the cleaned name.basics file
cleaned_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_cleaned.tsv'
name_basics_cleaned_df = pd.read_csv(cleaned_file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Check data types of the columns
print('Data types of the columns:')
print(name_basics_cleaned_df.dtypes)

Data types of the columns:
nconst                object
primaryName           object
birthYear            float64
deathYear            float64
primaryProfession     object
knownForTitles        object
dtype: object

In [2]:
# Convert birthYear and deathYear to integers
name_basics_cleaned_df['birthYear'] = name_basics_cleaned_df['birthYear'].astype('Int64')  # Using 'Int64' to handle NA
name_basics_cleaned_df['deathYear'] = name_basics_cleaned_df['deathYear'].astype('Int64')  # Using 'Int64' to handle NA

# Check data types again to confirm changes
print('Data types after conversion:')
print(name_basics_cleaned_df.dtypes)

Data types after conversion:
nconst               object
primaryName          object
birthYear             Int64
deathYear             Int64
primaryProfession    object
knownForTitles       object
dtype: object

In [5]:
import pandas as pd

# Load the cleaned name.basics file
cleaned_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_cleaned.tsv'
name_basics_cleaned_df = pd.read_csv(cleaned_file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Explode the primaryProfession column
name_basics_cleaned_df['primaryProfession'] = name_basics_cleaned_df['primaryProfession'].str.split(',')  # Split on comma
name_basics_exploded_df = name_basics_cleaned_df.explode('primaryProfession')  # Explode the list into rows

# Reset the index if desired
name_basics_exploded_df.reset_index(drop=True, inplace=True)

# Check the shape and head of the exploded DataFrame
print("Exploded DataFrame shape:", name_basics_exploded_df.shape)
print(name_basics_exploded_df.head())

# Optionally, save the exploded DataFrame if needed
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded.tsv'
name_basics_exploded_df.to_csv(exploded_file_path, sep='\t', index=False)

print(f'Exploded data saved to: {exploded_file_path}')

Exploded DataFrame shape: (18157649, 6)
      nconst    primaryName  birthYear  deathYear primaryProfession  \
0  nm0000001   Fred Astaire     1899.0     1987.0             actor
1  nm0000001   Fred Astaire     1899.0     1987.0     miscellaneous
2  nm0000001   Fred Astaire     1899.0     1987.0          producer
3  nm0000002  Lauren Bacall     1924.0     2014.0           actress
4  nm0000002  Lauren Bacall     1924.0     2014.0        soundtrack

                            knownForTitles
0  tt0072308,tt0050419,tt0053137,tt0027125
1  tt0072308,tt0050419,tt0053137,tt0027125
2  tt0072308,tt0050419,tt0053137,tt0027125
3  tt0037382,tt0075213,tt0117057,tt0038355
4  tt0037382,tt0075213,tt0117057,tt0038355
Exploded data saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded.tsv

In [6]:
import pandas as pd

# Load the exploded name.basics file
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded.tsv'
name_basics_exploded_df = pd.read_csv(exploded_file_path, sep='\t', encoding='utf-8', na_values='\\N')


# Fill missing values with the mode (most common profession)
mode_profession = name_basics_exploded_df['primaryProfession'].mode()[0]
name_basics_exploded_df['primaryProfession'].fillna(mode_profession, inplace=True)

# Check the null values after filling
null_counts_after_fill = name_basics_exploded_df['primaryProfession'].isnull().sum()
print(f'Null values in primaryProfession after filling: {null_counts_after_fill}')

# Save the updated DataFrame back to the Silver layer
updated_exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled.tsv'
name_basics_exploded_df.to_csv(updated_exploded_file_path, sep='\t', index=False)

print(f'Updated exploded data saved to: {updated_exploded_file_path}')

C:\Users\Dell E7440\AppData\Local\Temp\ipykernel_2704\2523995220.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  name_basics_exploded_df['primaryProfession'].fillna(mode_profession, inplace=True)

Null values in primaryProfession after filling: 0
Updated exploded data saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled.tsv

In [7]:
import pandas as pd

# Load the updated exploded file
updated_exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled.tsv'
name_basics_exploded_df = pd.read_csv(updated_exploded_file_path, sep='\t', encoding='utf-8', na_values='\\N')


# Group by primaryProfession to calculate the median birth year for each profession
median_birth_years = name_basics_exploded_df.groupby('primaryProfession')['birthYear'].median()

# Function to fill birthYear based on primaryProfession
def fill_birth_year(row):
    if pd.isnull(row['birthYear']):
        return median_birth_years.get(row['primaryProfession'], row['birthYear'])  # Return NaN if no profession found
    return row['birthYear']

# Apply the function to fill missing birthYear values
name_basics_exploded_df['birthYear'] = name_basics_exploded_df.apply(fill_birth_year, axis=1)

# Check the count of null values after filling
final_birth_year_null_counts = name_basics_exploded_df['birthYear'].isnull().sum()
print(f'Null values in birthYear after filling: {final_birth_year_null_counts}')

# Save the updated DataFrame back to the Silver layer
final_updated_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new.tsv'
name_basics_exploded_df.to_csv(final_updated_file_path, sep='\t', index=False)

print(f'Updated exploded data saved to: {final_updated_file_path}')

Null values in birthYear after filling: 0
Updated exploded data saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new.tsv

In [8]:
import pandas as pd

# Load the updated file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new.tsv'
name_basics_new_df = pd.read_csv(file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Check for null values in all columns
null_counts = name_basics_new_df.isnull().sum()

# Print the null counts for each column
print('Null values in each column:')
print(null_counts)

Null values in each column:
nconst                      0
primaryName                 0
birthYear                   0
deathYear            17763026
primaryProfession           0
knownForTitles        1615110
dtype: int64

In [3]:
pip install dask

Requirement already satisfied: dask in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (2024.9.0)
Requirement already satisfied: click>=8.1 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (2024.9.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (24.1)
Requirement already satisfied: partd>=1.4.0 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from dask) (0.12.1)
Requirement already satisfied: colorama in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from click>=8.1->dask) (0.4.6)
Requirement already satisfied: locket in c:\users\dell e7440\appdata\local\programs\python\python312\lib\site-packages (from partd>=1.4.0->dask) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import dask.dataframe as dd

# Load the updated file using Dask
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new.tsv'
name_basics_ddf = dd.read_csv(file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Explode the knownForTitles column
name_basics_ddf['knownForTitles'] = name_basics_ddf['knownForTitles'].str.split(',')
name_basics_exploded_ddf = name_basics_ddf.explode('knownForTitles')

# Optionally, save the exploded DataFrame if needed
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new_exploded.tsv'
name_basics_exploded_ddf.to_csv(exploded_file_path, sep='\t', index=False, single_file=True)

print(f'Exploded knownForTitles data saved to: {exploded_file_path}')

Exploded knownForTitles data saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new_exploded.tsv

In [5]:
import dask.dataframe as dd

# Load the exploded file using Dask
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new_exploded.tsv'
name_basics_exploded_ddf = dd.read_csv(exploded_file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Print the columns of the DataFrame
print('Columns in the exploded DataFrame:')
print(name_basics_exploded_ddf.columns.tolist())

Columns in the exploded DataFrame:
['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

In [6]:
import dask.dataframe as dd

# Load the exploded file using Dask
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new_exploded.tsv'
name_basics_exploded_ddf = dd.read_csv(exploded_file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Print the columns of the DataFrame
print('Columns in the exploded DataFrame:')
print(name_basics_exploded_ddf.columns.tolist())

# Print the first few rows of the DataFrame
print('\nFirst few rows of the exploded DataFrame:')
print(name_basics_exploded_ddf.head())

Columns in the exploded DataFrame:
['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

First few rows of the exploded DataFrame:
      nconst   primaryName  birthYear  deathYear primaryProfession  \
0  nm0000001  Fred Astaire     1899.0     1987.0             actor
1  nm0000001  Fred Astaire     1899.0     1987.0             actor
2  nm0000001  Fred Astaire     1899.0     1987.0             actor
3  nm0000001  Fred Astaire     1899.0     1987.0             actor
4  nm0000001  Fred Astaire     1899.0     1987.0     miscellaneous

  knownForTitles
0      tt0072308
1      tt0050419
2      tt0053137
3      tt0027125
4      tt0072308

In [7]:
# Convert birthYear and deathYear to integers
name_basics_exploded_ddf['birthYear'] = name_basics_exploded_ddf['birthYear'].astype('Int64')  # Using 'Int64' to handle NA
name_basics_exploded_ddf['deathYear'] = name_basics_exploded_ddf['deathYear'].astype('Int64')  # Using 'Int64' to handle NA

# Check data types again to confirm changes
print('Data types after conversion:')
print(name_basics_exploded_ddf.dtypes)

Data types after conversion:
nconst               string[pyarrow]
primaryName          string[pyarrow]
birthYear                      Int64
deathYear                      Int64
primaryProfession    string[pyarrow]
knownForTitles       string[pyarrow]
dtype: object

In [9]:
import pandas as pd

# Load the exploded DataFrame from the specified file
exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_new_exploded.tsv'
name_basics_exploded_df = pd.read_csv(exploded_file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Calculate the median deathYear for each primaryProfession
profession_medians = name_basics_exploded_df.groupby('primaryProfession')['deathYear'].median()

# Fill missing values in deathYear based on the median of primaryProfession
name_basics_exploded_df['deathYear'] = name_basics_exploded_df.apply(
    lambda row: profession_medians[row['primaryProfession']] if pd.isnull(row['deathYear']) else row['deathYear'],
    axis=1
)

# Save the updated DataFrame back to the Silver layer
updated_exploded_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled_death_year.tsv'
name_basics_exploded_df.to_csv(updated_exploded_file_path, sep='\t', index=False)

print(f'Updated exploded data with filled deathYear saved to: {updated_exploded_file_path}')

Updated exploded data with filled deathYear saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled_death_year.tsv

In [10]:
import pandas as pd

# Load the updated exploded DataFrame
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled_death_year.tsv'
name_basics_exploded_filled_df = pd.read_csv(file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Check for null values in each column
null_counts = name_basics_exploded_filled_df.isnull().sum()

# Print the null values counts for each column
print('Null values in each column:')
print(null_counts)

Null values in each column:
nconst                     0
primaryName                0
birthYear                  0
deathYear               1202
primaryProfession          0
knownForTitles       1615110
dtype: int64

In [1]:
import pandas as pd

# Load the DataFrame from the existing exploded file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_filled_death_year.tsv'
name_basics_exploded_df = pd.read_csv(file_path, sep='\t', encoding='utf-8', na_values='\\N')

# Fill missing values in the 'knownForTitles' column with 'Unknown'
name_basics_exploded_df['knownForTitles'].fillna('Unknown', inplace=True)

# Save the updated DataFrame back to the Silver layer
updated_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final_knownForTitles_filled.tsv'
name_basics_exploded_df.to_csv(updated_file_path, sep='\t', index=False)

print(f'Updated exploded data with filled knownForTitles saved to: {updated_file_path}')

C:\Users\Dell E7440\AppData\Local\Temp\ipykernel_10800\1454689211.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  name_basics_exploded_df['knownForTitles'].fillna('Unknown', inplace=True)

Updated exploded data with filled knownForTitles saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final_knownForTitles_filled.tsv

In [2]:
import pandas as pd

# File path to the updated file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final_knownForTitles_filled.tsv'

# Load the DataFrame
df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

# Check for null values in each column
null_values = df.isnull().sum()

# Print the null values in each column
print("Null values in each column:\n", null_values)

Null values in each column:
 nconst                  0
primaryName             0
birthYear               0
deathYear            1202
primaryProfession       0
knownForTitles          0
dtype: int64

In [3]:
import pandas as pd

# File path to the updated file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final_knownForTitles_filled.tsv'

# Load the DataFrame
df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

# Drop duplicates across all columns
df.drop_duplicates(inplace=True)

# Save the updated DataFrame back to the file
updated_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final.tsv'
df.to_csv(updated_file_path, sep='\t', index=False)

print(f"Duplicates removed and updated file saved to: {updated_file_path}")

Duplicates removed and updated file saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final.tsv

In [4]:
import pandas as pd

# File path to the input file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final.tsv'

# Load the DataFrame
df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

# Drop the 'deathYear' column
df.drop(columns=['deathYear'], inplace=True)

# Save the updated DataFrame back to a file
updated_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv'
df.to_csv(updated_file_path, sep='\t', index=False)

print(f"'deathYear' column has been removed. Updated file saved to: {updated_file_path}")

'deathYear' column has been removed. Updated file saved to: C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv

In [5]:
import pandas as pd

# File path to the name_basics_exploded_final1.tsv file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv'

# Load the DataFrame
df = pd.read_csv(file_path, sep='\t', encoding='utf-8')

# Print the columns and the first few rows
print("Columns in the DataFrame:")
print(df.columns)

print("\nFirst few rows of the DataFrame:")
print(df.head())

Columns in the DataFrame:
Index(['nconst', 'primaryName', 'birthYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

First few rows of the DataFrame:
      nconst   primaryName  birthYear primaryProfession knownForTitles
0  nm0000001  Fred Astaire     1899.0             actor      tt0072308
1  nm0000001  Fred Astaire     1899.0             actor      tt0050419
2  nm0000001  Fred Astaire     1899.0             actor      tt0053137
3  nm0000001  Fred Astaire     1899.0             actor      tt0027125
4  nm0000001  Fred Astaire     1899.0     miscellaneous      tt0072308

In [2]:
#Make birth year an integer

import pandas as pd

# Load the DataFrame from the TSV file
df = pd.read_csv(r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv', sep='\t')

# Convert the 'birthYear' column to integer type
df['birthYear'] = df['birthYear'].astype(int)

# Display the first few rows to confirm the conversion
print(df.head())

# Save the updated DataFrame to the same TSV file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv'
df.to_csv(file_path, sep='\t', index=False)

print(f"DataFrame saved to {file_path}")

      nconst   primaryName  birthYear primaryProfession knownForTitles
0  nm0000001  Fred Astaire       1899             actor      tt0072308
1  nm0000001  Fred Astaire       1899             actor      tt0050419
2  nm0000001  Fred Astaire       1899             actor      tt0053137
3  nm0000001  Fred Astaire       1899             actor      tt0027125
4  nm0000001  Fred Astaire       1899     miscellaneous      tt0072308
DataFrame saved to C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv

In [2]:
import pandas as pd

# File path for the title.principals file in the BRONZE layer
title_principals_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\title.principals.tsv'

# Load the title.principals file into a DataFrame with na_values for handling '\N'
title_principals_df = pd.read_csv(title_principals_path, sep='\t', na_values='\\N')

# Display the first few rows to confirm successful loading
print(title_principals_df.head())

      tconst  ordering     nconst         category                      job  \
0  tt0000001         1  nm1588970             self                      NaN
1  tt0000001         2  nm0005690         director                      NaN
2  tt0000001         3  nm0005690         producer                 producer
3  tt0000001         4  nm0374658  cinematographer  director of photography
4  tt0000002         1  nm0721526         director                      NaN

  characters
0   ["Self"]
1        NaN
2        NaN
3        NaN
4        NaN

In [5]:
import pandas as pd

# File path for the title.principals file in the BRONZE layer
title_principals_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\title.principals.tsv'
# Initialize an empty dictionary to hold null counts
null_counts = {}

# Load the title.principals file in chunks
chunk_size = 100000  # Adjust the chunk size as needed
for chunk in pd.read_csv(title_principals_path, sep='\t', na_values='\\N', chunksize=chunk_size):
    # Count null values for this chunk and update the overall null counts
    null_counts_chunk = chunk.isnull().sum()
    null_counts = {col: null_counts.get(col, 0) + null_counts_chunk[col] for col in null_counts_chunk.index}

# Display the null counts for each column
print(pd.Series(null_counts))

tconst               0
ordering             0
nconst               0
category             0
job           71829774
characters    45531265
dtype: int64

#SILVER LAYER TRANFORMATIONS FOR TITLE.PRINCIPALS FILE

In [1]:
#Handling null values for job column
import pandas as pd

# File path for the title.principals file in the BRONZE layer
title_principals_path = r'C:\Users\Dell E7440\Desktop\BRONZEIMDB\title.principals.tsv'

# Load the entire dataset
df = pd.read_csv(title_principals_path, sep='\t', na_values='\\N')

#Replace missing values in the 'job' column with 'Unknown'
df['job'].fillna('Unknown', inplace=True)

# Save the cleaned data to the SILVER layer
silver_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_cleaned.csv'
df.to_csv(silver_path, index=False)

# Print confirmation and a preview of the cleaned DataFrame
print(f"Cleaned data saved to {silver_path}")
print(df.head())

C:\Users\Dell E7440\AppData\Local\Temp\ipykernel_13288\2305363119.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['job'].fillna('Unknown', inplace=True)

Cleaned data saved to C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_cleaned.csv
      tconst  ordering     nconst         category                      job  \
0  tt0000001         1  nm1588970             self                  Unknown
1  tt0000001         2  nm0005690         director                  Unknown
2  tt0000001         3  nm0005690         producer                 producer
3  tt0000001         4  nm0374658  cinematographer  director of photography
4  tt0000002         1  nm0721526         director                  Unknown

  characters
0   ["Self"]
1        NaN
2        NaN
3        NaN
4        NaN

In [1]:
#Handling null values at the characters column
import pandas as pd

# File path for the cleaned title.principals file in the SILVER layer
silver_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_cleaned.csv'

# Specify data types to reduce memory usage (adjust based on your dataset's columns)
dtype_spec = {
    'tconst': 'object', 
    'nconst': 'object', 
    'category': 'object', 
    'characters': 'object'
    # Add more columns with appropriate data types if needed
}

# Read and process the file in chunks to avoid memory errors
chunks = pd.read_csv(silver_file_path, chunksize=50000, dtype=dtype_spec)

# Initialize an empty list to store processed chunks
chunk_list = []

for chunk in chunks:
    # 1. Remove the string formatting from the 'characters' column
    chunk['characters'] = chunk['characters'].fillna('Unknown').str.strip("[]").str.replace("'", "")


    # Append the cleaned chunk to the list
    chunk_list.append(chunk)

# Concatenate all cleaned chunks into a single DataFrame
df_cleaned = pd.concat(chunk_list)

# Save the re-cleaned data back to the SILVER layer
new_silver_file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_recleaned.csv'
df_cleaned.to_csv(new_silver_file_path, index=False)

# Print confirmation
print(f"Re-cleaned data saved to {new_silver_file_path}")

Re-cleaned data saved to C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_recleaned.csv

In [5]:
import pandas as pd

# Path to the re-cleaned data file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_recleaned.csv'

# Load the CSV file in chunks of 1000 rows
chunksize = 1000
df_chunk = pd.read_csv(file_path, chunksize=chunksize)

# Read the first chunk and print the first 5 rows
df = next(df_chunk)
print(df.head())

      tconst  ordering     nconst         category                      job  \
0  tt0000001         1  nm1588970             self                  Unknown
1  tt0000001         2  nm0005690         director                  Unknown
2  tt0000001         3  nm0005690         producer                 producer
3  tt0000001         4  nm0374658  cinematographer  director of photography
4  tt0000002         1  nm0721526         director                  Unknown

  characters
0     "Self"
1    Unknown
2    Unknown
3    Unknown
4    Unknown

In [1]:
#Drop ordering column because it is not necessary for the futher analysis that wwe will conduct

import pandas as pd

# File paths
input_file = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_recleaned.csv'
output_file = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_no_duplicates.csv'  # New output file name

# Process the file in smaller chunks
chunksize = 50000  # Try a smaller chunk size

# Initialize the output file by writing the header
header_written = False

# Process the file chunk by chunk
for chunk in pd.read_csv(input_file, chunksize=chunksize):
    # Drop the 'ordering' column
    chunk = chunk.drop(columns=['ordering'])

    # Drop duplicates within the chunk
    chunk = chunk.drop_duplicates()

    # Write to CSV, append mode for subsequent chunks
    chunk.to_csv(output_file, mode='a', header=not header_written, index=False)
    header_written = True  # Ensure only the first chunk writes the header

print("Duplicates removed, 'ordering' column dropped, and the cleaned file has been saved.")

Duplicates removed, 'ordering' column dropped, and the cleaned file has been saved.

In [2]:
import pandas as pd

# Path to the cleaned CSV file
file_path = r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_no_duplicates.csv'

# Load the cleaned CSV and display the first 5 rows
df_cleaned = pd.read_csv(file_path)
print(df_cleaned.head())

      tconst     nconst         category                      job characters
0  tt0000001  nm1588970             self                  Unknown     "Self"
1  tt0000001  nm0005690         director                  Unknown    Unknown
2  tt0000001  nm0005690         producer                 producer    Unknown
3  tt0000001  nm0374658  cinematographer  director of photography    Unknown
4  tt0000002  nm0721526         director                  Unknown    Unknown

In [1]:
import pandas as pd

# Load the dataset
file_path = import pandas as pd

df = pd.read_csv(file_path)

# Count the number of null values in each column
null_counts = df.isnull().sum()

# Display the count of null values
print(null_counts)

tconst        0
nconst        0
category      0
job           0
characters    0
dtype: int64

In [ ]:
GOLD LAYER TRANSFORMATIONS

#FURTHER AGGREGATIONS OF THE GOLD LAYER

In [1]:
import pandas as pd

# Load the Title Principals dataset with specific dtypes to reduce memory usage
title_principals_df = pd.read_csv(
    r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_no_duplicates.csv',
    dtype={'tconst': 'string', 'nconst': 'string', 'job': 'string'}
)

# Load the Name Basics dataset with specific dtypes
name_basics_df = pd.read_csv(
    r'C:\Users\Dell E7440\Desktop\SILVERIMDB\name_basics_exploded_final1.tsv',
    sep='\t',
    dtype={'nconst': 'string', 'primaryName': 'string', 'primaryProfession': 'string'}
)

# Count titles associated with each individual (nconst) in chunks
title_counts = title_principals_df.groupby('nconst')['tconst'].nunique().reset_index(name='total_titles')

# Merge with the Name Basics dataset to get primary names and professions
individual_summary = title_counts.merge(
    name_basics_df[['nconst', 'primaryName', 'primaryProfession']],
    on='nconst',
    how='left'
)

# Remove duplicates in case an individual has multiple professions
individual_summary = individual_summary.drop_duplicates()

# Save the individual contributions summary as a gold layer file
individual_summary.to_csv(r'C:\Users\Dell E7440\Desktop\GOLDIMDB\gold_individual_summary.csv', index=False)

# Display the summary to verify the output
print(individual_summary.head())

       nconst  total_titles    primaryName primaryProfession
0      nconst             1           <NA>              <NA>
1   nm0000001           348   Fred Astaire             actor
5   nm0000001           348   Fred Astaire     miscellaneous
9   nm0000001           348   Fred Astaire          producer
13  nm0000002           499  Lauren Bacall           actress

In [1]:
import pandas as pd

# Load the individual contributions summary
individual_summary = pd.read_csv(r'C:\Users\Dell E7440\Desktop\GOLDIMDB\gold_individual_summary.csv')

# Remove duplicates while aggregating total_titles and combining primaryProfession
cleaned_summary = individual_summary.groupby(['nconst', 'primaryName']).agg(
    total_titles=('total_titles', 'first'),  # Retain the first count of total titles
    primaryProfession=('primaryProfession', lambda x: ', '.join(set(x.dropna())))  # Combine unique professions
).reset_index()

# Save the cleaned summary back to a CSV file
cleaned_summary.to_csv(r'C:\Users\Dell E7440\Desktop\GOLDIMDB\cleaned_individual_summary.csv', index=False)

# Display the cleaned summary to verify the output
print(cleaned_summary.head())

      nconst      primaryName  total_titles  \
0  nm0000001     Fred Astaire           348
1  nm0000002    Lauren Bacall           499
2  nm0000003  Brigitte Bardot           230
3  nm0000004     John Belushi           190
4  nm0000005   Ingmar Bergman           243

                      primaryProfession
0        miscellaneous, actor, producer
1  archive_footage, soundtrack, actress
2   producer, music_department, actress
3       actor, music_department, writer
4               actor, director, writer

In [2]:
import pandas as pd

# Load the Title Principals dataset
title_principals_df = pd.read_csv(r'C:\Users\Dell E7440\Desktop\SILVERIMDB\title_principals_no_duplicates.csv')

# Count titles per category
title_category_summary = title_principals_df.groupby('category')['tconst'].nunique().reset_index(name='number_of_titles')

# Save the title category summary as a gold layer file
title_category_summary.to_csv(r'C:\Users\Dell E7440\Desktop\GOLDIMDB\gold_title_category_summary.csv', index=False)

# Display the summary to verify the output
print(title_category_summary.head())

           category  number_of_titles
0             actor           5642046
1           actress           5147685
2   archive_footage            167259
3     archive_sound              3904
4  casting_director            779974