In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"keisibylyku","key":"fe531e703866e69937bd5b7bd2a7a2fc"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [4]:
!kaggle datasets download -d mohamedbakhet/amazon-books-reviews

Dataset URL: https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews
License(s): CC0-1.0
Downloading amazon-books-reviews.zip to /content
 99% 1.05G/1.06G [00:12<00:00, 113MB/s]
100% 1.06G/1.06G [00:12<00:00, 91.3MB/s]

In [5]:
!unzip amazon-books-reviews.zip

Archive:  amazon-books-reviews.zip
  inflating: Books_rating.csv
  inflating: books_data.csv

In [6]:
import pandas as pd

In [7]:
# Load CSV files into DataFrames
books_data = pd.read_csv('books_data.csv')
books_ratings = pd.read_csv('Books_rating.csv')

In [8]:
books_data.head(5)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [9]:
books_ratings.head(5)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [10]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,032 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,595 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,400 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,648 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,450 kB]
Fetched 16.5 MB in 4s (4,634 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [11]:
!apt-get install -y mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 50 not upgraded.
Need to get 29.6 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [2,762 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [17.6 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.39-0ubuntu0.22.04.1 [9,468 B]
Fetched 29.6 MB in 1s (36.3 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 123629 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 2176
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

In [12]:
!apt-get install -y mysql-client

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  mysql-client
0 upgraded, 1 newly installed, 0 to remove and 50 not upgraded.
Need to get 9,356 B of archives.
After this operation, 35.8 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client all 8.0.39-0ubuntu0.22.04.1 [9,356 B]
Fetched 9,356 B in 0s (28.2 kB/s)
Selecting previously unselected package mysql-client.
(Reading database ... 124161 files and directories currently installed.)
Preparing to unpack .../mysql-client_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-client (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client (8.0.39-0ubuntu0.22.04.1) ...

In [13]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [14]:
!mysqladmin -u root password 'password'

mysqladmin: [Warning] Using a password on the command line interface can be insecure.
Warning: Since password will be sent to server in plain text, use ssl connection to ensure password safety.

In [15]:
!mysql -u root -p'password' -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [16]:
!mysql -u root -p'password' -e "CREATE DATABASE IF NOT EXISTS raw;"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [17]:
!mysql -u root -p'password' -e "CREATE DATABASE IF NOT EXISTS stage;"
!mysql -u root -p'password' -e "CREATE DATABASE IF NOT EXISTS hist;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.

In [18]:
!mysql -u root -p'password' -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| hist               |
| information_schema |
| mysql              |
| performance_schema |
| raw                |
| stage              |
| sys                |
+--------------------+

In [19]:
!mysql -u root -p'password' -e "USE raw;"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [20]:
# Create a SQL file with the table creation commands
sql_commands = """
CREATE TABLE IF NOT EXISTS raw.reviews (
    id VARCHAR (10) PRIMARY KEY,
    Title VARCHAR(600),
    Price DECIMAL(10, 2),
    User_id VARCHAR(25),
    profileName VARCHAR(255),
    review_helpfulness VARCHAR(20),
    review_score INT CHECK (review_score >= 0 AND review_score <= 5),
    review_time INT,
    review_summary TEXT,
    review_text TEXT
);

CREATE TABLE IF NOT EXISTS raw.book_details (
    Title VARCHAR(600) PRIMARY KEY,
    Description TEXT,
    authors VARCHAR(3000),
    image VARCHAR(255),
    previewLink VARCHAR(1012),
    publisher VARCHAR(255),
    publishedDate VARCHAR(25),
    infoLink VARCHAR(512),
    categories VARCHAR(1012),
    ratingsCount INT
);
"""

# Write the SQL commands to a file
with open('create_tables_raw.sql', 'w') as f:
    f.write(sql_commands)

In [21]:
# Execute the SQL file to create the tables
!mysql -u root -p'password' < create_tables_raw.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [22]:
!mysql -u root -p'password' -e "CREATE USER 'admin'@'localhost' IDENTIFIED BY 'admin_password';"
!mysql -u root -p'password' -e "GRANT ALL PRIVILEGES ON *.* TO 'admin'@'localhost' WITH GRANT OPTION;"
!mysql -u root -p'password' -e "FLUSH PRIVILEGES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.

In [23]:
print(books_data['Title'].isnull().sum())
# Find the index of the row with the null title
null_title_index = books_data[books_data['Title'].isnull()].index
print("Rows with null titles:", null_title_index)

1
Rows with null titles: Index([1066], dtype='int64')

In [24]:
books_data['Title'].fillna('Unknown Title', inplace=True)

<ipython-input-24-578ce7c4e401>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  books_data['Title'].fillna('Unknown Title', inplace=True)

In [25]:
books_data = books_data.drop_duplicates(subset='Title', keep='first')

In [26]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 20.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [27]:
import mysql.connector

In [28]:
connection = mysql.connector.connect(
    host='localhost',
    user='admin',
    password='admin_password',
    database='raw'
)

In [29]:
cursor = connection.cursor()

In [30]:
books_data = books_data.where(pd.notnull(books_data), None)

In [31]:
for i, row in books_data.iterrows():
  values = tuple(None if pd.isna(val) else val for val in row)
  cursor.execute("INSERT INTO book_details (Title, Description, authors, image, previewLink, publisher, publishedDate, infoLink, categories, ratingsCount) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)  ON DUPLICATE KEY UPDATE Description = VALUES(Description), authors = VALUES(authors), image = VALUES(image), previewLink = VALUES(previewLink), publisher = VALUES(publisher), publishedDate = VALUES(publishedDate), infoLink = VALUES(infoLink), categories = VALUES(categories), ratingsCount = VALUES(ratingsCount);", values)
connection.commit();

In [32]:
for i, row in books_ratings.iterrows():
  values = tuple(None if pd.isna(val) else val for val in row)
  cursor.execute("INSERT INTO reviews (id, Title, Price, User_id, profileName, review_helpfulness, review_score, review_time, review_summary, review_text) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)  ON DUPLICATE KEY UPDATE Title = VALUES(Title), Price = VALUES(Price), User_id = VALUES(User_id), profileName = VALUES(profileName), review_helpfulness = VALUES(review_helpfulness), review_score = VALUES(review_score), review_time = VALUES(review_time), review_summary = VALUES(review_summary), review_text = VALUES(review_text);", values)
connection.commit();

In [33]:
sql_commands = """

USE stage;

CREATE TABLE IF NOT EXISTS reviews (
    id VARCHAR(10) PRIMARY KEY,
    Title VARCHAR(600),
    User_id VARCHAR(25),
    profileName VARCHAR(255),
    helpful_votes INT,
    total_votes INT,
    review_score INT CHECK (review_score >= 0 AND review_score <= 5),
    review_time INT,
    review_summary TEXT,
    review_text TEXT
);

CREATE TABLE IF NOT EXISTS book_details (
    Title VARCHAR(700) PRIMARY KEY,
    Description TEXT,
    image VARCHAR(255),
    previewLink VARCHAR(1012),
    publisher VARCHAR(255),  -- Publisher included directly
    publishedDate DATE,
    infoLink VARCHAR(512),
    ratingsCount INT
);

CREATE TABLE IF NOT EXISTS authors (
    author_id INT AUTO_INCREMENT PRIMARY KEY,
    author_name VARCHAR(255) NOT NULL
);

CREATE TABLE IF NOT EXISTS categories (
    category_id INT AUTO_INCREMENT PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
);

CREATE TABLE IF NOT EXISTS book_authors (
    Title VARCHAR(700),
    author_id INT,
    PRIMARY KEY (Title, author_id),
    FOREIGN KEY (Title) REFERENCES book_details(Title),
    FOREIGN KEY (author_id) REFERENCES authors(author_id)
);

CREATE TABLE IF NOT EXISTS book_categories (
    Title VARCHAR(700),
    category_id INT,
    PRIMARY KEY (Title, category_id),
    FOREIGN KEY (Title) REFERENCES book_details(Title),
    FOREIGN KEY (category_id) REFERENCES categories(category_id)
);

CREATE TABLE IF NOT EXISTS reviews_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    action VARCHAR(10),
    review_id VARCHAR(10),
    Title VARCHAR(600),
    review_time INT
);

-- Use a delimiter for the trigger definitions
DELIMITER //

-- Create an after insert trigger on reviews
CREATE TRIGGER after_insert_review
AFTER INSERT ON reviews
FOR EACH ROW
BEGIN
    INSERT INTO reviews_log (action, review_id, Title, review_time)
    VALUES ('INSERT', NEW.id, NEW.Title, NEW.review_time);
END //

-- Create an after update trigger on reviews
CREATE TRIGGER after_update_review
AFTER UPDATE ON reviews
FOR EACH ROW
BEGIN
    INSERT INTO reviews_log (action, review_id, Title, review_time)
    VALUES ('UPDATE', NEW.id, NEW.Title, NEW.review_time);
END //

-- Create an after delete trigger on reviews
CREATE TRIGGER after_delete_review
AFTER DELETE ON reviews
FOR EACH ROW
BEGIN
    INSERT INTO reviews_log (action, review_id, Title, review_time)
    VALUES ('DELETE', OLD.id, OLD.Title, OLD.review_time);
END //

DELIMITER ;  -- Reset the delimiter
"""

# Write the SQL commands to a file
with open('create_tables_stage.sql', 'w') as f:
    f.write(sql_commands)

In [34]:
# Execute the SQL file to create the tables
!mysql -u root -p'password' < create_tables_stage.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [35]:
stage_connection = mysql.connector.connect(
    host='localhost',
    user='admin',
    password='admin_password',
    database='stage'
)

In [36]:
stage_cursor = stage_connection.cursor()

In [37]:
procedure = """

CREATE PROCEDURE transfer_reviews_to_stage()
BEGIN
    DECLARE done INT DEFAULT FALSE;
    DECLARE batch_size INT DEFAULT 100;
    DECLARE offset INT DEFAULT 0;

    -- Loop to process batches
    WHILE NOT done DO
        -- Insert records in batches
        INSERT INTO stage.reviews (
            id,
            Title,
            User_id,
            profileName,
            helpful_votes,
            total_votes,
            review_score,
            review_time,
            review_summary,
            review_text
        )
        SELECT
            r.id,
            r.Title,
            r.User_id,
            r.profileName,
            CASE
                WHEN r.review_helpfulness = '' THEN 0
                WHEN LOCATE('/', r.review_helpfulness) > 0 THEN
                    CAST(SUBSTRING_INDEX(r.review_helpfulness, '/', 1) AS UNSIGNED)
                ELSE 0
            END AS helpful_votes,
            CASE
                WHEN r.review_helpfulness = '' THEN 0
                WHEN LOCATE('/', r.review_helpfulness) > 0 THEN
                    CAST(SUBSTRING_INDEX(r.review_helpfulness, '/', -1) AS UNSIGNED)
                ELSE 0
            END AS total_votes,
            r.review_score,
            r.review_time,
            r.review_summary,
            r.review_text
        FROM raw.reviews r
        WHERE r.id IS NOT NULL
        LIMIT batch_size OFFSET offset
        LOCK IN SHARE MODE;  -- Added locking mode for concurrent reads

        -- Check if any rows were inserted
        IF ROW_COUNT() < batch_size THEN
            SET done = TRUE;  -- Exit the loop if fewer rows are inserted (end of data)
        END IF;

        -- Increment the offset for the next batch
        SET offset = offset + batch_size;

    END WHILE;
END;
"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL transfer_reviews_to_stage();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")
    stage_connection.rollback()  # Rollback in case of any error

In [38]:
procedure = """
CREATE PROCEDURE transfer_book_details_to_stage()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE batch_size INT DEFAULT 100;
    DECLARE offset INT DEFAULT 0;
    DECLARE row_count INT DEFAULT 0;

    WHILE done = 0 DO
        -- Insert in batches
        INSERT INTO stage.book_details (
            Title,
            Description,
            image,
            previewLink,
            publisher,
            publishedDate,
            infoLink,
            ratingsCount
        )
        SELECT
            b.Title,
            b.Description,
            b.image,
            b.previewLink,
            b.publisher,
            CASE
                -- Convert YYYY to YYYY-01-01
                WHEN LENGTH(TRIM(b.publishedDate)) = 4 AND TRIM(b.publishedDate) REGEXP '^[0-9]{4}$' THEN
                    STR_TO_DATE(CONCAT(TRIM(b.publishedDate), '-01-01'), '%Y-%m-%d')

                -- Convert YYYY* to YYYY-01-01 (removing the asterisk)
                WHEN LENGTH(TRIM(b.publishedDate)) = 5 AND TRIM(b.publishedDate) LIKE '____*' THEN
                    STR_TO_DATE(CONCAT(SUBSTRING(TRIM(b.publishedDate), 1, 4), '-01-01'), '%Y-%m-%d')

                -- Convert YYYY-MM-DD format
                WHEN LENGTH(TRIM(b.publishedDate)) = 10 AND TRIM(b.publishedDate) REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN
                    STR_TO_DATE(TRIM(b.publishedDate), '%Y-%m-%d')

                -- Handle ISO 8601 formats
                WHEN TRIM(b.publishedDate) LIKE '%T%' THEN
                    STR_TO_DATE(SUBSTRING(TRIM(b.publishedDate), 1, 10), '%Y-%m-%d')

                -- Return NULL for any other formats
                ELSE NULL
            END AS publishedDate,
            b.infoLink,
            b.ratingsCount
        FROM raw.book_details b
        WHERE
            (CASE
                -- Ensure only valid conversions are processed
                WHEN LENGTH(TRIM(b.publishedDate)) = 4 AND TRIM(b.publishedDate) REGEXP '^[0-9]{4}$' THEN
                    TRUE
                WHEN LENGTH(TRIM(b.publishedDate)) = 5 AND TRIM(b.publishedDate) LIKE '____*' THEN
                    TRUE
                WHEN LENGTH(TRIM(b.publishedDate)) = 10 AND TRIM(b.publishedDate) REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN
                    TRUE
                WHEN TRIM(b.publishedDate) LIKE '%T%' THEN
                    TRUE
                ELSE FALSE
            END)
        LIMIT batch_size OFFSET offset;

        -- Update the offset for the next batch
        SET offset = offset + batch_size;

        -- Check how many rows were inserted
        SET row_count = ROW_COUNT();
        IF row_count = 0 THEN
            SET done = 1;
        END IF;
    END WHILE;
END;


"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL transfer_book_details_to_stage();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [39]:
procedure = """
CREATE PROCEDURE transfer_authors_to_stage()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE author_name VARCHAR(255);
    DECLARE book_title VARCHAR(700);
    DECLARE book_id INT;

    DECLARE cur CURSOR FOR
        SELECT Title FROM raw.book_details WHERE authors IS NOT NULL;

    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO book_title;

        IF done THEN
            LEAVE read_loop;
        END IF;

        SELECT book_id INTO book_id
        FROM stage.book_details
        WHERE Title LIKE CONCAT('%', book_title, '%') LIMIT 1;

        IF book_id IS NULL THEN
            LEAVE read_loop;
        END IF;

        SELECT authors INTO @authors_list FROM raw.book_details WHERE Title = book_title;

        IF @authors_list IS NULL OR @authors_list = '' THEN
            LEAVE read_loop;
        END IF;

        WHILE LOCATE(',', @authors_list) > 0 DO
            SET author_name = TRIM(SUBSTRING_INDEX(@authors_list, ',', 1));
            SET @authors_list = SUBSTRING(@authors_list FROM LOCATE(',', @authors_list) + 1);

            INSERT INTO stage.authors (author_name)
            VALUES (author_name)
            ON DUPLICATE KEY UPDATE author_id = LAST_INSERT_ID(author_id);

            INSERT INTO stage.book_authors (book_id, author_id)
            VALUES (book_id, LAST_INSERT_ID());
        END WHILE;

        SET author_name = TRIM(@authors_list);
        IF author_name IS NOT NULL AND author_name != '' THEN
            INSERT INTO stage.authors (author_name)
            VALUES (author_name)
            ON DUPLICATE KEY UPDATE author_id = LAST_INSERT_ID(author_id);

            INSERT INTO stage.book_authors (book_id, author_id)
            VALUES (book_id, LAST_INSERT_ID());
        END IF;

    END LOOP;

    CLOSE cur;
END;


"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL transfer_authors_to_stage();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [40]:
procedure = """
CREATE PROCEDURE transfer_categories_to_stage()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE category_name VARCHAR(255);
    DECLARE book_title VARCHAR(700);
    DECLARE categories_list VARCHAR(1000);
    DECLARE book_id INT;

    -- Cursor for iterating over book titles and their categories
    DECLARE cur CURSOR FOR
        SELECT Title, categories FROM raw.book_details WHERE categories IS NOT NULL;

    -- Handler for the end of the cursor
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO book_title, categories_list;

        -- Exit the loop if there are no more rows to fetch
        IF done THEN
            LEAVE read_loop;
        END IF;

        -- Trim the book title for better matching
        SET book_title = TRIM(book_title);

        -- Fetch the book_id based on the book title (with LIKE for potential matching issues)
        SELECT book_id INTO book_id FROM stage.book_details WHERE Title LIKE CONCAT('%', book_title, '%') LIMIT 1;

        -- Proceed only if a valid book_id was retrieved
        IF book_id IS NOT NULL THEN
            -- Process each category in the list
            WHILE LENGTH(categories_list) > 0 DO
                -- Get the first category
                SET category_name = TRIM(SUBSTRING_INDEX(categories_list, ',', 1));

                -- Remove the first category from categories_list
                SET categories_list = TRIM(SUBSTRING(categories_list FROM LOCATE(',', categories_list) + 1));

                -- Check if the category_name is not empty
                IF category_name != '' THEN
                    -- Insert the category if it doesn't exist, otherwise get the existing category_id
                    INSERT INTO stage.categories (category_name)
                    VALUES (category_name)
                    ON DUPLICATE KEY UPDATE category_id = LAST_INSERT_ID(category_id);

                    -- Link the category to the book in the junction table using the book_id
                    INSERT INTO stage.book_categories (book_id, category_id)
                    VALUES (book_id, LAST_INSERT_ID());
                END IF;
            END WHILE;
        END IF;
    END LOOP;

    CLOSE cur;
END;

"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL transfer_categories_to_stage();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [41]:
sql_commands = """
USE hist;

CREATE TABLE IF NOT EXISTS hist.authors (
    author_id INT PRIMARY KEY,
    author_name VARCHAR(255) NOT NULL,
    start_date DATE,
    end_date DATE,
    current_flag BOOLEAN
);

-- Dimensional Table for Books
CREATE TABLE IF NOT EXISTS hist.books (
    book_id INT AUTO_INCREMENT PRIMARY KEY,
    Title VARCHAR(700),
    Description TEXT,
    image VARCHAR(255),
    previewLink VARCHAR(1012),
    publisher VARCHAR(255),
    publishedDate DATE,
    infoLink VARCHAR(512),
    ratingsCount INT,
    start_date DATE,
    end_date DATE,
    current_flag BOOLEAN
);

-- Dimensional Table for Categories
CREATE TABLE IF NOT EXISTS hist.categories (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL,
    start_date DATE,
    end_date DATE,
    current_flag BOOLEAN
);

-- Junction Table for Book-Authors Relationship
CREATE TABLE IF NOT EXISTS hist.book_authors (
    book_id INT,
    author_id INT,
    PRIMARY KEY (book_id, author_id),
    FOREIGN KEY (book_id) REFERENCES hist.books(book_id),
    FOREIGN KEY (author_id) REFERENCES hist.authors(author_id)
);

-- Junction Table for Book-Categories Relationship
CREATE TABLE IF NOT EXISTS hist.book_categories (
    book_id INT,
    category_id INT,
    PRIMARY KEY (book_id, category_id),
    FOREIGN KEY (book_id) REFERENCES hist.books(book_id),
    FOREIGN KEY (category_id) REFERENCES hist.categories(category_id)
);

-- Fact Table for Reviews
CREATE TABLE IF NOT EXISTS hist.reviews (
    review_id INT AUTO_INCREMENT PRIMARY KEY,
    book_id INT,
    user_id VARCHAR(25),
    profile_name VARCHAR(255),
    helpful_votes INT,
    total_votes INT,
    review_score INT CHECK (review_score >= 0 AND review_score <= 5),
    review_time DATE,
    review_summary TEXT,
    review_text TEXT,
    start_date DATE,
    end_date DATE,
    current_flag BOOLEAN,
    FOREIGN KEY (book_id) REFERENCES hist.books(book_id)
);
"""

# Write the SQL commands to a file
with open('create_tables_hist.sql', 'w') as f:
    f.write(sql_commands)

In [42]:
# Execute the SQL file to create the tables
!mysql -u root -p'password' < create_tables_hist.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [43]:
procedure = """
CREATE PROCEDURE insert_authors_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE author_id INT;
    DECLARE author_name VARCHAR(255);

    DECLARE cur CURSOR FOR SELECT author_id, author_name FROM stage.authors;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO author_id, author_name;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.authors (author_id, author_name, start_date, end_date, current_flag)
        VALUES (author_id, author_name, CURRENT_DATE(), NULL, 1)
        ON DUPLICATE KEY UPDATE
            end_date = NULL,
            current_flag = 1;
    END LOOP;

    CLOSE cur;
END;

"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_authors_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [44]:
procedure = """
CREATE PROCEDURE insert_books_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE book_id INT;
    DECLARE Title VARCHAR(700);
    DECLARE Description TEXT;
    DECLARE image VARCHAR(255);
    DECLARE previewLink VARCHAR(1012);
    DECLARE publisher VARCHAR(255);
    DECLARE publishedDate DATE;
    DECLARE infoLink VARCHAR(512);
    DECLARE ratingsCount INT;

    DECLARE cur CURSOR FOR SELECT book_id, Title, Description, image, previewLink, publisher, publishedDate, infoLink, ratingsCount FROM stage.book_details;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO book_id, Title, Description, image, previewLink, publisher, publishedDate, infoLink, ratingsCount;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.books (book_id, Title, Description, image, previewLink, publisher, publishedDate, infoLink, ratingsCount, start_date, end_date, current_flag)
        VALUES (book_id, Title, Description, image, previewLink, publisher, publishedDate, infoLink, ratingsCount, CURRENT_DATE(), NULL, 1)
        ON DUPLICATE KEY UPDATE
            end_date = NULL,
            current_flag = 1;
    END LOOP;

    CLOSE cur;
END;

"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_books_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [45]:
procedure = """
CREATE PROCEDURE insert_categories_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE category_id INT;
    DECLARE category_name VARCHAR(255);

    DECLARE cur CURSOR FOR SELECT category_id, category_name FROM stage.categories;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO category_id, category_name;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.categories (category_id, category_name, start_date, end_date, current_flag)
        VALUES (category_id, category_name, CURRENT_DATE(), NULL, 1)
        ON DUPLICATE KEY UPDATE
            end_date = NULL,
            current_flag = 1;
    END LOOP;

    CLOSE cur;
END;
"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_categories_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [46]:
procedure = """
CREATE PROCEDURE insert_reviews_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE review_id VARCHAR(10);
    DECLARE book_id INT;
    DECLARE user_id VARCHAR(25);
    DECLARE profile_name VARCHAR(255);
    DECLARE helpful_votes INT;
    DECLARE total_votes INT;
    DECLARE review_score INT;
    DECLARE review_time DATE;
    DECLARE review_summary TEXT;
    DECLARE review_text TEXT;

    DECLARE cur CURSOR FOR SELECT id, book_id, User_id, profileName, helpful_votes, total_votes, review_score, review_time, review_summary, review_text FROM stage.reviews;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO review_id, book_id, user_id, profile_name, helpful_votes, total_votes, review_score, review_time, review_summary, review_text;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.reviews (book_id, user_id, profile_name, helpful_votes, total_votes, review_score, review_time, review_summary, review_text, start_date, end_date, current_flag)
        VALUES (book_id, user_id, profile_name, helpful_votes, total_votes, review_score, review_time, review_summary, review_text, CURRENT_DATE(), NULL, 1);
    END LOOP;

    CLOSE cur;
END;
"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_reviews_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [47]:
procedure = """
CREATE PROCEDURE insert_book_authors_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE book_id INT;
    DECLARE author_id INT;

    DECLARE cur CURSOR FOR SELECT book_id, author_id FROM stage.book_authors;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO book_id, author_id;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.book_authors (book_id, author_id)
        VALUES (book_id, author_id);
    END LOOP;

    CLOSE cur;
END;
"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_book_authors_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [48]:
procedure = """
CREATE PROCEDURE insert_book_categories_into_hist()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE book_id INT;
    DECLARE category_id INT;

    DECLARE cur CURSOR FOR SELECT book_id, category_id FROM stage.book_categories;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO book_id, category_id;

        IF done THEN
            LEAVE read_loop;
        END IF;

        INSERT INTO hist.book_categories (book_id, category_id)
        VALUES (book_id, category_id);
    END LOOP;

    CLOSE cur;
END;
"""

# Execute the procedure creation in the stage database
stage_cursor.execute(procedure)
stage_connection.commit()

# Call the stored procedure to transfer the data
try:
    stage_cursor.execute("CALL insert_book_categories_into_hist();")
    stage_connection.commit()
except Exception as e:
    print(f"An error occurred: {e}")

In [49]:

# Connect to the MySQL database
db_connection_hist = mysql.connector.connect(
    host='localhost',
    user='admin',
    password='admin_password',
    database='hist'
)

db_cursor_hist = db_connection_hist.cursor()

# SQL statements for creating views
create_views_statements = [
    """
    CREATE VIEW vw_high_average_ratings AS
    SELECT b.title, AVG(r.review_score) AS average_rating
    FROM reviews r
    JOIN books b ON r.book_id = b.book_id
    GROUP BY b.title
    HAVING AVG(r.review_score) > 4.5 AND COUNT(r.review_score) > 0;
    """,

    """
    CREATE VIEW vw_recent_reviews AS
    SELECT r.review_id, b.title, r.review_score, r.review_time
    FROM reviews r
    JOIN books b ON r.book_id = b.book_id
    WHERE r.review_time >= NOW() - INTERVAL 30 DAY;
    """,

    """
    CREATE VIEW vw_most_helpful_reviews AS
    SELECT b.Title,
          r.helpful_votes,
          r.total_votes,
          r.review_summary,
          CASE
              WHEN r.total_votes > 0 THEN (r.helpful_votes / r.total_votes) * 100
              ELSE 0
          END AS helpfulness_percentage
    FROM hist.reviews r
    JOIN hist.books b ON r.book_id = b.book_id
    ORDER BY helpfulness_percentage DESC
    LIMIT 10;
    """
]

for statement in create_views_statements:
    try:
        db_cursor_hist.execute(statement)
        print("View created successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

db_cursor_hist.close()
db_connection_hist.close()

View created successfully.
View created successfully.
View created successfully.

In [50]:

# Connect to the MySQL database
db_connection_hist = mysql.connector.connect(
    host='localhost',
    user='admin',
    password='admin_password',
    database='hist'
)

db_cursor_hist = db_connection_hist.cursor()

create_views_statements = [
    """
    CREATE VIEW vw_total_reviews_per_book AS
    SELECT b.title, COUNT(r.review_id) AS total_reviews
    FROM reviews r
    JOIN books b ON r.book_id = b.book_id
    GROUP BY b.title;
    """,

    """
    CREATE VIEW vw_reviews_per_author AS
    SELECT a.author_name, COUNT(r.review_id) AS total_reviews, AVG(r.review_score) AS average_rating
    FROM hist.reviews r
    JOIN hist.book_authors ba ON r.book_id = ba.book_id
    JOIN hist.authors a ON ba.author_id = a.author_id
    GROUP BY a.author_name;
    """,

    """
    CREATE VIEW vw_total_reviews_by_date AS
    SELECT DATE(r.review_time) AS review_date, COUNT(r.review_id) AS total_reviews
    FROM reviews r
    GROUP BY review_date;
    """
]

for statement in create_views_statements:
    try:
        db_cursor_hist.execute(statement)
        print("View created successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

db_cursor_hist.close()
db_connection_hist.close()

View created successfully.
View created successfully.
View created successfully.

In [51]:
# Connect to the MySQL database
db_connection_hist = mysql.connector.connect(
    host='localhost',
    user='admin',
    password='admin_password',
    database='hist'
)

db_cursor_hist = db_connection_hist.cursor()

# SQL statements for creating the stored procedures
create_procedure_insert_new_review = """

CREATE PROCEDURE insert_new_review(
    IN p_book_id INT,
    IN p_user_id VARCHAR(25),
    IN p_profile_name VARCHAR(255),
    IN p_helpful_votes INT,
    IN p_total_votes INT,
    IN p_review_score INT,
    IN p_review_time DATE,
    IN p_review_summary TEXT,
    IN p_review_text TEXT
)
BEGIN
    -- Enforce the check constraint within the procedure
    IF p_review_score < 0 OR p_review_score > 5 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Review score must be between 0 and 5.';
    ELSE
        INSERT INTO hist.reviews (
            book_id, user_id, profile_name, helpful_votes,
            total_votes, review_score, review_time,
            review_summary, review_text, start_date, current_flag
        ) VALUES (
            p_book_id, p_user_id, p_profile_name, p_helpful_votes,
            p_total_votes, p_review_score, p_review_time,
            p_review_summary, p_review_text, NOW(), TRUE
        );
    END IF;
END;

"""

create_procedure_update_book_average_rating = """

CREATE PROCEDURE update_book_average_rating(IN p_book_id INT)
BEGIN
    DECLARE avg_rating DECIMAL(3, 2);

    SELECT AVG(review_score) INTO avg_rating
    FROM hist.reviews
    WHERE book_id = p_book_id;

    UPDATE hist.books
    SET ratingsCount = (SELECT COUNT(*) FROM hist.reviews WHERE book_id = p_book_id),
        avg_rating = avg_rating -- Assuming there's an `avg_rating` column in `hist.books`
    WHERE book_id = p_book_id;
END;
"""

create_procedure_delete_old_reviews = """

CREATE PROCEDURE delete_old_reviews(IN p_days INT)
BEGIN
    DELETE FROM hist.reviews
    WHERE review_time < NOW() - INTERVAL p_days DAY;
END;
"""

create_procedure_update_review_score = """
CREATE PROCEDURE UpdateReviewScore(
    IN p_review_id INT,  -- Changed the parameter name to avoid confusion
    IN p_new_score DECIMAL(3, 2)
)
BEGIN
    -- Update the review score
    UPDATE fact_reviews
    SET review_score = p_new_score  -- Use the new score parameter
    WHERE review_id = p_review_id;   -- Use the review ID parameter

    -- Log the update in the reviews_log table
    INSERT INTO reviews_log (action, review_id, book_id, review_time, log_timestamp)
    SELECT 'UPDATE_SCORE', p_review_id, book_id, review_time, NOW()
    FROM fact_reviews
    WHERE review_id = p_review_id;   -- Use the review ID parameter
END;
"""


# Execute the stored procedure creation commands
try:
    db_cursor_hist.execute(create_procedure_insert_new_review)
    print("Stored Procedure 'insert_new_review' created successfully.")

    db_cursor_hist.execute(create_procedure_update_book_average_rating)
    print("Stored Procedure 'update_book_average_rating' created successfully.")

    db_cursor_hist.execute(create_procedure_delete_old_reviews)
    print("Stored Procedure 'delete_old_reviews' created successfully.")

    db_cursor_hist.execute(create_procedure_update_review_score)
    print("Stored Procedure 'update_review_score' created successfully.")

except mysql.connector.Error as err:
    print(f"Error: {err}")

db_cursor_hist.close()
db_connection_hist.close()

Stored Procedure 'insert_new_review' created successfully.
Stored Procedure 'update_book_average_rating' created successfully.
Stored Procedure 'delete_old_reviews' created successfully.
Stored Procedure 'update_review_score' created successfully.